button{
    margin: 10px;
    background: none;
    color: white;
    border: 4px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.5s;
}button:hover{
    border-color: #d799f5;
    color: #d799f5;
    box-shadow: 0 1.5em 2em -0.9em #8f20c6;
    cursor: pointer;
}body{
    margin: 0px;
    background-color: black;
    color: white;
    font-family: 'Agbalumo';
}.flex-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between;
}.box{
    width: 100%;
    font-family: 'M PLUS Rounded 1c';
    margin: 25px;
    padding:10px;
    height:60px;
    background-color: aquamarine;
    font-size: 60px;
    font-weight: 600;
    text-align: center;

}.title{
    background-color: black;
    width:100%;
    font-family:'Playpen Sans';

}.projectname{
    background-color: black;
    color:#d799f5;
    font-family:'shadows into light';
    font-size: 30px;
    text-align: center;
    width:100%;
    margin: 1%;
    padding:0%;

}.sidebox1{
    background-color: black;
    font-family: 'M PLUS Rounded 1c';
    /* text-align: left; */
    /* line-height: 150%; */
    /* font-size:22px; */
    margin: 30px;
    margin-left:20%;
    width: 25%;
    height:300px;  

}.sidebox2{
    background-color: black;
    font-family: 'M PLUS Rounded 1c';
    /* text-align: left; */
    /* line-height: 150%; */
    /* font-size:18px; */
    margin: 30px;
    margin-right:20%;
    width: 25%;
    height: 300px;
}.subbox1{
    line-height: 180%;
    text-align:left;
    background-color: black;
    font-size:20px;
    width:60%;
    height:50%;
    margin-left: 20%;
    margin-right:20%;
}.subbox2{
    line-height: 50%;
    color:#d799f5;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    background-color: black;
    font-size:15px;
    width:100%;
    height:50%;
    margin-left: 10%;
    margin-right:10%;
}